# PostgreSQL Database
POSTGRES_DB=beatport2rss
POSTGRES_USER=db@beatport2rss.com
POSTGRES_PASSWORD=your_secure_password_here

# Beatport Credentials
BEATPORT_USERNAME=your_beatport_username
BEATPORT_PASSWORD=your_beatport_password

# Chromium Downloader
CHROMIUM_BASE_URL=https://download-chromium.appspot.com

# Token Interceptor
INTERCEPTOR_GRPC_URI=http://0.0.0.0:5000

# RabbitMQ
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_HOSTNAME=localhost
RABBITMQ_PORT=5672

# API
API_PORT=8080
API_DB_CONNECTION=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Builder
BUILDER_DB_CONNECTION=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
BUILDER_RELEASES_RETENTION_IN_DAYS=100
BUILDER_DELETE_STALE_RELEASES_CRON=0 55 * * * ?
BUILDER_BUILD_RSS_FEED_CRON=0 0 * * * ?

# Messaging
OUTBOX_MESSAGES_RETENTION_IN_DAYS=100
OUTBOX_DELETE_STALE_MESSAGES_CRON=0 0 0 * * ?
INBOX_MESSAGES_RETENTION_IN_DAYS=100
INBOX_DELETE_STALE_MESSAGES_CRON=0 0 0 * * ?

# API JWT
JWT_ISSUER=beatport2rss
JWT_AUDIENCE=beatport2rss
JWT_SIGNING_KEY=your_signing_key_at_least_32_characters_long
JWT_EXPIRES_IN=3600
REFRESH_TOKEN_EXPIRES_IN=2592000