# PostgreSQL Database
POSTGRES_DB=beatport2rss
POSTGRES_USER=db@beatport2rss.com
POSTGRES_PASSWORD=your_secure_password_here

# Beatport Credentials
BEATPORT_USERNAME=your_beatport_username
BEATPORT_PASSWORD=your_beatport_password

# Chromium Downloader
CHROMIUM_BASE_URL=https://download-chromium.appspot.com

# Token Interceptor
INTERCEPTOR_GRPC_URI=http://0.0.0.0:5000

# RabbitMQ
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_HOSTNAME=rabbitmq
RABBITMQ_PORT=5672

# Collector database connection
COLLECTOR_DB_CONNECTION=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Collector queues
QUEUE_DEAD_LETTER_SUFFIX=dead-letter
QUEUE_EXCHANGE_NAME=beatport2rss.events.v1
QUEUE_SUBSCRIPTION_CREATED=collector.subscription-created.v1
QUEUE_FEED_SUBSCRIPTION_CREATED=collector.feed-subscription-created.v1
QUEUE_FEED_SUBSCRIPTION_DELETED=collector.feed-subscription-deleted.v1
ROUTING_SUBSCRIPTION_CREATED=subscription.created.v1
ROUTING_FEED_SUBSCRIPTION_CREATED=feed.subscription.created.v1
ROUTING_FEED_SUBSCRIPTION_DELETED=feed.subscription.deleted.v1